@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@import "tailwindcss";


body {
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
}

/* Horizontal scrollbar for tabs */
.tabs-scrollbar::-webkit-scrollbar {
  height: 2px; /* make it thinner */
}

.tabs-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 1px;
}

.tabs-scrollbar::-webkit-scrollbar-thumb {
  background: #36014b;
  border-radius: 1px;
  transition: background 0.3s;
}

.tabs-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #c804d7;
}

/* Firefox */
.tabs-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #36014b #f1f1f1;
}


/* Add this to your global CSS or Tailwind config if needed */
.btn-primary {
  @apply px-6 py-2 bg-gradient-to-r from-purple-600 via-pink-600 to-indigo-600 text-white font-semibold rounded-lg shadow hover:scale-105 transform transition duration-200;
}

.btn-secondary {
  @apply px-6 py-2 bg-gray-200 text-gray-800 font-semibold rounded-lg shadow hover:bg-gray-300 transition duration-200;
}
